<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block meta %}{% endblock %}
        
        <title>{% block title %}Promobank | Inventario{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ asset('css/estilos.css')}}" rel="stylesheet">
        <link href="{{ asset('css/simple-sidebar.css')}}" rel="stylesheet">
        
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="main-wrap">
        {% block navbar %}
            <nav class="navbar navbar-fixed-top navbar-inverse fuente1">
                <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                        <a class="navbar-brand"><font color="gold" size="6">
                            <b>
                                Administrador
                            </b>
                            </font></a>
                    </div>
                     
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{{path('homepage')}}">Inicio</a>
                            </li>
                            <li>
                                <a href="{{path('logout')}}">Salir</a>
                            </li>                          
                        </ul>
                    </div>
                </div>
            </nav>
              
        {% endblock %}
        <div style="padding-top: 50px"></div>
        {% if is_granted('ROLE_ADMIN') %}{# OPCIONES DE ADMINISTRACIÓN #}
        
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a href="javascript:;" data-toggle="collapse" data-target="#lista1" class="sidebar-brand" style="color: #4cae4c; margin-left: 15px; text-decoration: none">
                    <strong><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 
                        Listas 
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></strong>
                </a>
                <ul id="lista1" class="collapse" style="margin-left: -30px">
                    <li>
                        <a style="color: white" href="{{path('listar_lineamovil')}}">
                            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                            Lista de líneas móviles
                        </a>
                    </li>
                    <li>
                        <a style="color: white" href="{{path('listar_celulares')}}">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                            Lista de celulares
                        </a>
                    </li>
                    <li>
                        <a style="color: white" href="{{path('listar_usuarios')}}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            Lista de usuarios
                        </a>
                    </li>               
                </ul>
                <hr>
                <a href="javascript:;" data-toggle="collapse" data-target="#lista2" class="sidebar-brand" style="color: #4cae4c; margin-left: 15px; text-decoration: none">
                    <strong><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 
                        Agregar <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></strong>
                </a>
                <ul id="lista2" class="collapse" style="margin-left: -30px">
                    <li>
                        <a style="color: white" href="{{path('agregar_sim')}}">
                            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                            Agregar línea movil
                        </a>
                    </li>
                    <li>
                        <a style="color: white" href="{{path('agregar_celular')}}">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                            Agregar celular
                        </a>
                    </li>
                    <li>
                        <a style="color: white" href="{{path('agregar_usuario')}}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            Agregar usuario
                        </a>
                    </li>
                </ul>
                <hr>
                <a href="javascript:;" data-toggle="collapse" data-target="#lista3" class="sidebar-brand" style="color: #4cae4c; margin-left: 15px; text-decoration: none">
                    <strong><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> 
                        Log <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></strong>
                </a>
                <ul id="lista3" class="collapse" style="margin-left: -30px">
                    <li>
                        <a style="color: white" href="{{path('listar_log')}}">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            Revisar LOG
                        </a>
                    </li>
                </ul>
                <hr>
            </ul>
        </div>  
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn btn-info" style="background-color: rgba(0,0,30,0.5)" id="menu-toggle">
                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Menú
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        {% endif %}    

                        {% block body %}
                        {% endblock %}

                        {% if is_granted('ROLE_ADMIN') %}
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
        {% endif %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
        <script src="{{asset('js/jquery.maskedinput.js')}}" type="text/javascript"></script>
        <script type="text/javascript" src="{{asset('js/cambiar-fondo.js')}}"></script>
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
        
        <script src="{{asset('bundles/fosjsrouting/js/router.js')}}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        
        <script src="{{asset('js/esconder-sidebar.js')}}" ></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
