{% extends "base.html.twig" %}
{% block body %}
    <div class="col-md-12 tras">
        <h3 class="fuente1" style="color: white">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            / <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            / <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </h3>
        <button id="btnvalida" class="btn btn-success">Verificar RUT</button>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="fuente1" style="color: white">*RUT: </label>
                    <label class="text-info pull-right" style="color: tomato" id="msgerror"></label>
                    {{ form_widget(form.rut, {'attr' : { 'placeholder' : 'ejemplo: 11111111-1', 'onKeyPress' : 'return soloNumerosRut(event)'} }) }}
                </div>
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Nombres: </label>
                    {{form_widget(form.nombres)}}
                </div>
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Apellido Paterno: </label>
                    {{form_widget(form.apellidoPaterno)}}
                </div> 
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Apellido Materno: </label>
                    {{form_widget(form.apellidoMaterno)}}
                </div>
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Dirección: </label>
                    {{form_widget(form.direccion)}}
                </div>
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Número de contacto: </label>
                    {{form_widget(form.numeroDeContacto, {'attr' : {'placeholder' : 'ejemplo: 227370000', 'onKeyPress' : 'return soloNumeros(event)'} })}}
                </div>          
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Área de Trabajo (departamento): </label>
                    {{form_widget(form.area)}}
                </div>   
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Estado del empleado: </label>
                    {{form_widget(form.habil)}}
                </div>  
                <div class="form-group">
                    <label class="fuente1" style="color: white">Correo Electrónico (opcional): </label>
                    {{form_widget(form.correoElectronico)}}
                </div>
                {% if asignacion == true %}
                <div class="form-group" id="celular">
                    <label class="fuente1" style="color: white">Quitar asignación:</label><br>
                    <font color="white" size="6">{{id.celular.imei}}</font>
                    <a id="{{id.id}}" style="background-color: transparent; color: tomato; text-decoration: none; transform: scale(2); margin-bottom: 15px" type="button" class="btn glyphicon glyphicon-remove" data-toggle="modal" data-target="#myModal2">
                    </a>
                </div>
                {% else %}
                <div class="form-group">
                    <label style="color: tomato">No quedan celulares disponibles para asignar a este usuario</label>
                </div>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary animar">Confirmar</button>
                <button type="button" class="btn btn-danger animar pull-right" onclick="history.back();">Cancelar</button>
            </div>
        </div>
    {{ form_end(form) }}
    <br>
    </div> 
    <div id="myModal2" class="modal fade tras-fondo-modal" role="dialog">
        <div class="modal-dialog fuente1">
            <div class="modal-content tras-modal" align="center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Quitar asignación</h1>
                </div>
                <div class="modal-body">
                    <p><font size="5">¿Desea quitar la asignación de móvil a este usuario?</font></p>
                </div>
                <div class="modal-footer">
                    <a id="siModal2" type="button" class="btn btn-danger btn-lg pull-left animar">Aceptar</a>
                    <button type="button" class="btn btn-success btn-lg animar" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{asset('js/desasignar-celular-en-editar-usuario.js')}}"></script>
    <script src="{{asset('js/validar-rut-editar-asignacion.js')}}"></script>
    <script src="{{asset('js/solo-numeros.js')}}"></script>
    <script src="{{asset('js/solo-numeros-rut.js')}}"></script>
{% endblock javascripts %}
