{% extends "base.html.twig" %}
{% block body %}
    <div class="col-md-12 tras"><br>
        <h3 class="fuente1" style="color: white">
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
            / <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            / <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </h3>
        <br>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="fuente1" style="color: white">*IMEI: </label>
                    <a href="#" class="glyphicon glyphicon-question-sign pull-right animacion-rapida" aria-hidden="true" style="color: white; text-decoration: none" data-toggle="modal" data-target="#myModal">
                    </a>
                    {{form_widget(form.imei, {'attr' : { 'placeholder' : 'ejemplo: 355812010064335', 'onKeyPress' : 'return soloNumeros(event)'} })}}
                </div>
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Marca: </label>
                    {{form_widget(form.marca, {'attr' : { 'placeholder' : 'ejemplo: Motorola' } })}}
                </div>
            </div>            
            <div class="col-md-4">
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Modelo: </label>
                    {{form_widget(form.modelo, {'attr' : { 'placeholder' : 'ejemplo: Moto E' } })}}
                </div>
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Estado del equipo: </label>
                    {{form_widget(form.habil)}}
                </div>
            </div>
            <div class="col-md-4">    
                <div class="form-group">
                    <label class="fuente1" style="color: white">Observaciones (opcional): </label>
                    {{form_widget(form.observacion)}}
                </div>
                <div class="form-group">
                    <label class="fuente1" style="color: white">Línea Móvil: </label>
                    {{form_widget(form.lineaMovil)}}
                </div>
            </div>
        </div> 
        <hr>
        <br>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary animar">Confirmar</button>
                <button type="button" class="btn btn-danger animar pull-right" onclick="history.back()">Cancelar</button>
            </div>
        </div>
    {{ form_end(form) }}
    <br>
    </div>
    <div id="myModal" class="modal fade tras-fondo-modal" role="dialog">
        <div class="modal-dialog fuente1">
            <div class="modal-content tras-modal" align="center">
                <div class="modal-header" align="left" style="color: #122b40">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda</h1>
                </div>
                <div class="modal-body" align="left"  style="color: #122b40">
                    <p><font size="5">El IMEI es un número o código que identifica internacionalmente a los equipos telefónicos móviles, 
                        llamado “Identificación Internacional del Equipo Móvil”, 
                        cuya sigla es IMEI por su traducción al inglés “International Mobile Equipment Identity”.</font></p>
                    <br>
                    <p><font size="5">Para conocer el IMEI de un equipo celular marque <font style="color: tomato">*#06#</font>
                        o también puede verificarlo tras la batería del equipo (solo para algunos modelos).</font></p>
                    <br>
                    <p><font size="5">Por último ingrese en le campo solamente los números.</font></p>
                </div>
                <img src="{{ asset('img/ayuda/imei.png') }}" class="img-responsive col-md-12" style="margin-top: 20px" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg animar" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{asset('js/solo-numeros.js')}}"></script>
{% endblock javascripts %}
