{% extends "base.html.twig" %}
{% block body %}
    <div class="col-md-12 tras"><br>
        <h1 class="fuente1" style="color: white">
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
            / <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            / <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </h1>
        <br>
    {{ form_start(form) }}
        <div class="row" id='formularioLinea'>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Número: </label>
                    {{form_widget(form.numero, {'attr' : {'placeholder' : 'ejemplo: 8 360 60 49', 'onKeyPress' : 'return soloNumeros(event)'} })}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Compañía: </label>
                    {{form_widget(form.compania)}}
                </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Estado de la línea móvil: </label>
                    {{form_widget(form.habil)}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fuente1" style="color: white">Número de serie de la Sim-card: </label>
                    {{form_widget(form.simcard, {'attr' : {'onKeyPress' : 'return soloNumeros(event)'} })}}
                </div>
            </div>
        </div>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary animar">Confirmar</button>
                <button type="button" class="btn btn-danger animar pull-right" onclick="history.back()">Cancelar</button>
            </div>
        </div>
    {{ form_end(form) }}
    <br>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{asset('js/solo-numeros.js')}}"></script>
    <script src="{{asset('js/formatting.js')}}"></script>
{% endblock javascripts %}
