{% extends "base.html.twig" %}
{% block stylesheets %}<link href="{{ asset('css/dataTables.bootstrap.min.css')}}" rel="stylesheet">{% endblock %}
{% block body %}
    <div class='col-lg-12 tras' style="color: white">
    <h3>
        <label class="fuente1" style="color: white">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Lista de Usuarios (Empleados)
        </label>
        <p class="pull-right">
            <a href="{{path('agregar_usuario')}}" style="text-decoration: none">    
                <button class="btn btn-warning">
                    Agregar nuevo
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
            </a>
            <a>
                <button class="btn btn-warning" data-toggle="modal" data-target="#myModalAyuda">
                    Ayuda
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </button>
            </a>
        </p>
    </h3>
    <table id="example" class='table table-hover table-condensed' style="width: 100%">
        <thead align="center">
            <tr>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Rut</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Nombre</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Primer apellido</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Segundo apellido</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Área</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Dirección</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Correo</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Contacto</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Estado</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Celular asignado</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>N° línea</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Editar Asignar</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Eliminar</font></td>
            </tr>
        </thead>
        <tfoot align="center">
            <tr>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Rut</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Nombre</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Primer apellido</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Segundo apellido</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Área</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Dirección</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Correo</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Contacto</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Estado</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Celular asignado</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>N° línea</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Editar Asignar</font></td>
                <td><font class='fuente1' style='color: white; padding-top: 5px'>Eliminar</font></td>
            </tr>
        </tfoot>
        <tbody align="center" style="color: #000">
        {%for usuario in usuarios%}
            <tr>
                <td class="color1">{{usuario.rut}}</td>
                <td class="color2">{{usuario.nombres|capitalize}}</td>
                <td class="color1">{{usuario.apellidoPaterno|capitalize}}</td>
                <td class="color2">{{usuario.apellidoMaterno|capitalize}}</td>
                <td class="color1">{{usuario.area|capitalize}}</td>
                <td class="color2">{{usuario.direccion|capitalize}}</td>
                {% if usuario.correoElectronico == null %}
                    <td class="color1">Sin correo electrónico</td>
                {% else %}
                    <td class="color1">{{usuario.correoElectronico}}</td>
                {% endif %}
                <td class="color2">{{usuario.numeroDeContacto}}</td>
                {% if usuario.habil == '1' %}
                    <td class="color1">Habilitado</td>
                {% else %}
                    <td class="color1"><font color="#DF013A">Inhabilitado</font></td>
                {% endif %}
                {% if usuario.celular == null %}
                    <td class="color2">No asignado</td>
                {% else %}
                    <td class="color2" id="celular">
                        imei: {{usuario.celular.imei}}<br>
                        {{usuario.celular.marca}} {{usuario.celular.modelo}}<br>
                        <button id="{{usuario.id}}" style="background-color: transparent; color: firebrick; text-decoration: none" type="button" class="btn glyphicon glyphicon-remove" data-toggle="modal" data-target="#myModal2"></button>
                    </td>
                {% endif %}
                {% if usuario.celular == null %}
                    <td class="color1">No asignado</td>
                {% elseif usuario.celular.lineamovil == null %}
                    <td class="color1">No asignado</td>
                {% else %}
                    <td class="color1" id="lm">
                        {{usuario.celular.lineaMovil.numero}}<br>
                        <button id="{{usuario.id}}" style="background-color: transparent; color: firebrick; text-decoration: none" type="button" class="btn glyphicon glyphicon-remove" data-toggle="modal" data-target="#myModal3"></button>
                    </td>
                {% endif %}
                <td>
                    <a href="{{path('editar_usuario',{'id': usuario.id})}}">
                        <button class="btn btn-link glyphicon glyphicon-edit animacion-rapida" style="text-decoration: none;color: green;" aria-hidden="true"></button>
                    </a>
                </td>
                <td id="tab">
                    <button id="{{usuario.id}}" style="color: firebrick; text-decoration: none" type="button" class="btn btn-link glyphicon glyphicon-remove-circle animacion-rapida" data-toggle="modal" data-target="#myModal"></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div id="myModal" class="modal fade tras-fondo-modal" role="dialog">
        <div class="modal-dialog fuente1">
            <div class="modal-content tras-modal" align="center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Advertencia</h1>
                </div>
                <div class="modal-body">
                    <p><font size="5">¿Está seguro que desea eliminar este usuario?</font></p>
                </div>
                <div class="modal-footer">
                    <a id="siModal" type="button" class="btn btn-danger btn-lg pull-left animar">Eliminar</a>
                    <button type="button" class="btn btn-success btn-lg animar" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal2" class="modal fade tras-fondo-modal" role="dialog">
        <div class="modal-dialog fuente1">
            <div class="modal-content tras-modal" align="center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Quitar asignación</h1>
                </div>
                <div class="modal-body">
                    <p><font size="5">¿Desea quitar la asignación de móvil a este usuario?</font></p>
                </div>
                <div class="modal-footer">
                    <a id="siModal2" type="button" class="btn btn-danger btn-lg pull-left animar">Aceptar</a>
                    <button type="button" class="btn btn-success btn-lg animar" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal3" class="modal fade tras-fondo-modal" role="dialog">
        <div class="modal-dialog fuente1">
            <div class="modal-content tras-modal" align="center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Quitar asignación</h1>
                </div>
                <div class="modal-body">
                    <p><font size="5">¿Desea quitar la asignación de línea móvil a este usuario?</font></p>
                    <p><font size="3">*También se quitará la asignación de linea al celular</font></p>
                </div>
                <div class="modal-footer">
                    <a id="siModal3" type="button" class="btn btn-danger btn-lg pull-left animar">Aceptar</a>
                    <button type="button" class="btn btn-success btn-lg animar" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalAyuda" class="modal fade tras-fondo-modal" role="dialog">
        <div class="modal-dialog fuente1">
            <div class="modal-content tras-modal" align="center">
                <div class="modal-header" align="left" style="color: #122b40">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda</h1>
                </div>
                <div class="modal-body" align="left"  style="color: #122b40">
                    <p><font size="5">En esta sección usted puede visualizar el total de los usuarios registrados.
                        Además usted cuenta con distintas herramientas de búsqueda y compaginación,
                        que facilitan la necesidad de dar con un celular en específico.</font></p><br><br>
                    <p><font size="5">Opciones:</font></p>
                    <p><font size="5">
                            <span class="glyphicon glyphicon-edit" style="color: green; transform: scale(1.5)" aria-hidden="true"></span>
                            :  Editar los campos del usuario seleccionado y asignaciones del mismo.
                        </font></p>
                    <p><font size="5">
                            <span class="glyphicon glyphicon-remove-circle" style="color: red; transform: scale(1.5)" aria-hidden="true"></span>
                            :  Elimina el usuario seleccionado.
                        </font></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-lg animar" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    <script src="{{asset('js/eliminar-usuario.js')}}"></script>
    <script src="{{asset('js/desasignar-cel-usuario.js')}}"></script>
    <script src="{{asset('js/desasignar-lm-usuario.js')}}"></script>
    <script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('js/datatable.js')}}"></script>
{% endblock %}
