{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class='col-md-12 tras' style="color: white">
    <h3>
        <label class="fuente1" style="color: white">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Lista de celulares
        </label>
        <p class="pull-right">
            <a href="{{path('agregar_celular')}}" style="text-decoration: none">    
                <button class="btn btn-warning">
                    Agregar nuevo
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
            </a>
            <a>
                <button class="btn btn-warning" data-toggle="modal" data-target="#myModalAyuda">
                    Ayuda
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </button>
            </a>
        </p>
    </h3>
    <table id="example" class='table table-hover' style="width: 100%">
        <thead>
            <tr>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Imei:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Marca:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Modelo:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Estado:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Observaciones:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Línea asignada:</font></td>
                <td align="center"><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Editar - Asignar</font></td>
                <td align="center"><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Eliminar</font></td>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Imei:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Marca:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Modelo:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Estado:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Observaciones:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Línea asignada:</font></td>
                <td align="center"><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Editar - Asignar</font></td>
                <td align="center"><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Eliminar</font></td>
            </tr>
        </tfoot>
        <tbody style="color: #000">
        {%for celular in celulares%}
            <tr>
                <td class="color1">{{celular.imei}}</td>
                <td class="color2">{{celular.marca|capitalize}}</td>
                <td class="color1">{{celular.modelo|capitalize}}</td>
                {% if celular.habil == '1' %}
                    <td class="color2">Habilitado</td>
                {% else %}
                    <td class="color2"><font color="#DF013A">Inhabilitado</font></td>
                {% endif %} 
                {% if celular.observacion == null %}
                    <td class="color1">Equipo sin observaciones</td>
                {% else %}
                    <td class="color1">{{celular.observacion|capitalize}}</td>
                {% endif %}           
                {% if celular.lineaMovil == null %}
                    <td class="color2">Línea no asignada</td>
                {% else %}
                    <td class="color2" id="linea">
                        {{celular.lineaMovil.numero}}
                        <button id="{{celular.id}}" style="background-color: transparent; color: firebrick; text-decoration: none" type="button" class="btn glyphicon glyphicon-remove" data-toggle="modal" data-target="#myModal2"></button>
                    </td>
                {% endif %}    
                <td align="center">
                    <a href="{{path('editar_celular',{'id': celular.id})}}">
                        <button class="btn btn-link glyphicon glyphicon-edit animacion-rapida" style="text-decoration: none;color: green;" aria-hidden="true"></button>
                    </a>
                </td>
                <td id="tab" align="center">
                    {% if celular.asignado == false %}
                    <button id="{{celular.id}}" style="color: firebrick; text-decoration: none" type="button" class="btn btn-link glyphicon glyphicon-remove-circle animacion-rapida" data-toggle="modal" data-target="#myModal"></button>
                    {% else %}
                    <button id="{{celular.id}}" style="color: tomato; text-decoration: none" type="button" class="btn btn-link glyphicon glyphicon-alert animacion-rapida" data-toggle="modal" data-target="#myModal3"></button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div id="myModal" class="modal fade tras-fondo-modal" role="dialog">
        <div class="modal-dialog fuente1">
            <div class="modal-content tras-modal" align="center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Advertencia</h1>
                </div>
                <div class="modal-body">
                    <p><font size="5">¿Está seguro que desea eliminar el equipo celular?</font></p>
                </div>
                <div class="modal-footer">
                    <a id="siModal" type="button" class="btn btn-danger btn-lg pull-left animar">Eliminar</a>
                    <button type="button" class="btn btn-success btn-lg animar" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal2" class="modal fade tras-fondo-modal" role="dialog">
        <div class="modal-dialog fuente1">
            <div class="modal-content tras-modal" align="center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Quitar asignación</h1>
                </div>
                <div class="modal-body">
                    <p><font size="5">¿Desea quitar la asignación de línea móvil a este celular?</font></p>
                </div>
                <div class="modal-footer">
                    <a id="siModal2" type="button" class="btn btn-danger btn-lg pull-left animar">Aceptar</a>
                    <button type="button" class="btn btn-success btn-lg animar" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal3" class="modal fade tras-fondo-modal" role="dialog">
        <div class="modal-dialog fuente1">
            <div class="modal-content tras-modal" align="center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Advertencia</h1>
                </div>
                <div class="modal-body">
                    <p><font size="5">Este Equipo celular está asignado a un usuario</font></p>
                    <p><font size="5">¿Está seguro que desea eliminar el equipo celular?</font></p>
                </div>
                <div class="modal-footer">
                    <a id="siModal3" type="button" class="btn btn-danger btn-lg pull-left animar">Eliminar</a>
                    <button type="button" class="btn btn-success btn-lg animar" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalAyuda" class="modal fade tras-fondo-modal" role="dialog">
        <div class="modal-dialog fuente1">
            <div class="modal-content tras-modal" align="center">
                <div class="modal-header" align="left" style="color: #122b40">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda</h1>
                </div>
                <div class="modal-body" align="left"  style="color: #122b40">
                    <p><font size="5">En esta sección usted puede visualizar el total de los celulares registrados.
                        Además usted cuenta con distintas herramientas de búsqueda y compaginación,
                        que facilitan la necesidad de dar con un celular en específico.</font></p>
                    <br><br>
                    <p><font size="5">Opciones:</font></p>
                    <p>
                        <font size="5">
                            <span class="glyphicon glyphicon-edit" style="color: green; transform: scale(1.5)" aria-hidden="true"></span>
                            :  Editar los campos del celular seleccionado y asignaciones del mismo.
                        </font>
                    </p>
                    <p>
                        <font size="5">
                            <span class="glyphicon glyphicon-remove-circle" style="color: red; transform: scale(1.5)" aria-hidden="true"></span>
                            :  Elimina el celular seleccionado (se puede visualizar sólo en celulares no asignados a un usuario).
                        </font>
                    </p>
                    <p>
                        <font size="5">
                            <span class="glyphicon glyphicon-alert" style="color: tomato; transform: scale(1.5)" aria-hidden="true"></span>
                            :  Elimina el celular seleccionado y quita la asignación de dicho celular a un usuario.
                        </font>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-lg animar" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    <script src="{{asset('js/eliminar-celular.js')}}"></script>
    <script src="{{asset('js/desasignar-lm-celular.js')}}"></script>
    <script src="{{asset('js/eliminar-celular-asignado.js')}}"></script>
    <script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('js/datatable.js')}}"></script>
{% endblock %}
