{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class='col-md-12 tras' style="color: white">
    <h3>
        <label class="fuente1" style="color: white">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            Lista de líneas móviles
        </label>
        <p class="pull-right">
            <a href="{{path('agregar_sim')}}" style="text-decoration: none">    
                <button class="btn btn-warning">
                    Agregar nuevo
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
            </a>
            <a>
                <button class="btn btn-warning" data-toggle="modal" data-target="#myModalAyuda">
                    Ayuda
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </button>
            </a>
        </p>
    </h3>
    <br>
    <table id="example" class='table table-hover' style="width: 100%">
        <thead>
            <tr>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Número:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Compañía:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Estado de la línea:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>N° de serie:</font></td>
                <td align="center"><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Editar</font></td>
                <td align="center"><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Eliminar</font></td>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Número:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Compañía:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Estado de la línea:</font></td>
                <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>N° de serie:</font></td>
                <td align="center"><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Editar</font></td>
                <td align="center"><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>Eliminar</font></td>
            </tr>
        </tfoot>
        <tbody style="color: #000">
        {%for lineaMovil in lineasMoviles%}
            <tr> 
                <td class="color1">{{lineaMovil.numero}}</td>
                <td class="color2">{{lineaMovil.compania}}</td> 
                {% if lineaMovil.habil == '1' %}
                    <td class="color1">Habilitada</td>
                {% else %}
                    <td class="color1"><font color="#DF013A">Inhabilitada</font></td>
                {% endif %}
                {% if lineaMovil.simcard == null %}
                    <td class="color2">Sin N° asignado</td>
                {% else %}
                    <td class="color2">{{lineaMovil.simcard}}</td>
                {% endif %}
                <td align="center">
                    <a href="{{path('editar_linea',{'id': lineaMovil.id})}}">
                        <button class="btn btn-link glyphicon glyphicon-edit animacion-rapida" style="text-decoration: none;color: green;" aria-hidden="true">
                        </button>
                    </a>
                </td>
                <td id="tab" align="center">
                    {% if lineaMovil.asignado == false %}
                    <button id="{{lineaMovil.id}}" style="color: red; text-decoration: none" type="button" class="btn btn-link glyphicon glyphicon-remove-circle animacion-rapida" data-toggle="modal" data-target="#myModal">
                    </button>
                    {% else %}
                    <button id="{{lineaMovil.id}}" style="color: tomato; text-decoration: none" type="button" class="btn btn-link glyphicon glyphicon-alert animacion-rapida" data-toggle="modal" data-target="#myModal2">
                    </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>   
    <div id="myModal" class="modal fade tras-fondo-modal" role="dialog">
        <div class="modal-dialog fuente1">
            <div class="modal-content tras-modal" align="center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Advertencia</h1>
                </div>
                <div class="modal-body">
                    <p><font size="5">¿Está seguro que desea eliminar la línea móvil?</font></p>
                </div>
                <div class="modal-footer">
                    <a id="siModal" type="button" class="btn btn-danger btn-lg pull-left animar">Eliminar</a>
                    <button type="button" class="btn btn-success btn-lg animar" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal2" class="modal fade tras-fondo-modal" role="dialog">
        <div class="modal-dialog fuente1">
            <div class="modal-content tras-modal" align="center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Advertencia</h1>
                </div>
                <div class="modal-body">
                    <p><font size="5">Esta línea está asignada a un equipo celular</font></p>
                    <p><font size="5">¿Está seguro que desea eliminar la línea móvil?</font></p>
                </div>
                <div class="modal-footer">
                    <a id="siModal2" type="button" class="btn btn-danger btn-lg pull-left animar">Eliminar</a>
                    <button type="button" class="btn btn-success btn-lg animar" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalAyuda" class="modal fade tras-fondo-modal" role="dialog">
        <div class="modal-dialog fuente1">
            <div class="modal-content tras-modal" align="center">
                <div class="modal-header" align="left" style="color: #122b40">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda</h1>
                </div>
                <div class="modal-body" align="left"  style="color: #122b40">
                    <p><font size="5">En esta sección usted puede visualizar el total de las líneas móviles registradas.
                        Además usted cuenta con distintas herramientas de búsqueda y compaginación,
                        que facilitan la necesidad de dar con una línea en específico.</font></p>
                    <br><br>
                    <p><font size="5">Opciones:</font></p>
                    <p>
                        <font size="5">
                            <span class="glyphicon glyphicon-edit" style="color: green; transform: scale(1.5)" aria-hidden="true"></span>
                            :  Editar los campos de la línea móvil seleccionada.
                        </font>
                    </p>
                    <p>
                        <font size="5">
                            <span class="glyphicon glyphicon-remove-circle" style="color: red; transform: scale(1.5)" aria-hidden="true"></span>
                            :  Elimina la línea móvil seleccionada (se puede visualizar sólo en líneas no asignadas a un celular).
                        </font>
                    </p>
                    <p>
                        <font size="5">
                            <span class="glyphicon glyphicon-alert" style="color: tomato; transform: scale(1.5)" aria-hidden="true"></span>
                            :  Elimina la línea móvil seleccionada y quita la asignación de dicha línea a un celular.
                        </font>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-lg animar" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    <script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('js/eliminar-linea.js')}}"></script>
    <script src="{{asset('js/eliminar-linea-asignada.js')}}"></script>
    <script src="{{asset('js/datatable.js')}}"></script>
{% endblock %}
