{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="col-lg-12 tras" style="color: white">
        <h3>
            <label class="fuente1" style="color: white">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Lista de registros generados con la manipulación de la aplicación
            </label>
        </h3>
        <table id="example" class='table table-hover table-condensed' style="width: 100%">
            <thead>
                <tr>
                    <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>
                    Categoría:</font></td>
                    <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>
                    Tipo:</font></td>
                    <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>
                    Fecha:</font></td>
                    <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>
                    Hora:</font></td>
                    <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>
                    Descripción:</font></td>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>
                    Categoría:</font></td>
                    <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>
                    Tipo:</font></td>
                    <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>
                    Fecha:</font></td>
                    <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>
                    Hora:</font></td>
                    <td><font class='fuente1' style='color: white; transform: scale(1.5); padding-top: 5px'>
                    Descripción:</font></td>
                </tr>
            </tfoot>
            <tbody style="color: #000">
                {%for log in logs%}
                    {% set acciones = log.accion|split('/') %}
                    <tr>
                        <td class="color1">{{log.categoria}}</td>
                        <td class="color2">{{log.tipo}}</td>
                        <td class="color1">{{log.fecha}}</td>
                        <td class="color2">{{log.hora}}</td>
                        <td class="color1">
                            {%for accion in acciones%}
                                {{accion}}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('js/datatable.js')}}"></script>
{% endblock %}

