{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
    <div style="margin-top: 33px; padding-top: 15px; padding-bottom: 15px" class="row"> 
        <img src="{{ asset('img/diseño/logo-white.png') }}" class="col-md-offset-4 col-md-4 img-responsive" />
    </div>
    <div class="panel col-md-10 col-md-offset-1" style="background-color: rgba(40,40,40,0.4)">
        <div class="panel-heading">
            <h1 style="color: white; font-family: 'Righteous', cursive" class="fuente1" align="center">
                Bienvenido al inventario de equipos celulares
            </h1>
        </div>
        <div class="panel-body" align="center">
            <p class="fuente1" style="color: white"><font size="5">
                Con esta aplicación usted podrá manejar el stock, tanto de líneas móviles como de <br>
                equipos celulares. Usted podrá manejar también los datos de asignaciones referentes <br>
                a una línea móvil asignada a un equipo celular, como también un equipo asignado a un <br>
                usuario.</font></p>
        </div>
{% endblock %}
