{% extends "base.html.twig" %}
{% block body %}
    <div class="col-md-12 tras">
        <h3 class="fuente1" style="color: white">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            / <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
            / <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </h3>
        <br>
        {%if agregado == true%}
        <div class="row">
            <div class="container-fluid">
                <div class="panel panel-default col-md-6 tras-green">
                    <div class="panel-body">
                        <font color="#255625"><b>La línea móvil se ha agregado correctamente:</b></font><br><br>
                        <a href="{{path('listar_lineamovil')}}"><button class="btn btn-info tras-green">Lista de líneas</button></a>
                        <a href="{{path('listar_celulares')}}"><button class="btn btn-info tras-green">Asignar a un celular</button></a>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
    {{ form_start(form) }}
        <div class="row" id='formularioLinea'>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Número: </label>
                    {{form_widget(form.numero, {'attr' : { 'id' : 'numero', 'placeholder' : 'ejemplo: 8 360 60 49', 'onKeyPress' : 'return soloNumeros(event)'} })}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Compañía: </label>
                    {{form_widget(form.compania)}}
                </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Estado de la línea móvil: </label>
                    {{form_widget(form.habil)}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="fuente1" style="color: white">Número de serie de la Sim-card: </label>
                    {{form_widget(form.simcard, {'attr' : {'onKeyPress' : 'return soloNumeros(event)'} })}}
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary animar">Agregar línea</button>
        <button type="reset" class="btn btn-success animar">Limpiar formulario</button>
        <button type="button" class="btn btn-danger animar pull-right" onclick="history.back();">Cancelar</button>
    {{ form_end(form) }}
    <br>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{asset('js/solo-numeros.js')}}"></script>
    <script src="{{asset('js/formatting.js')}}"></script>
{% endblock %}
