{% extends "base.html.twig" %}
{% block body %}
    <div class="col-md-12 tras">
        <h3 class="fuente1" style="color: white">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            / <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            / <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </h3>
        {%if agregado == true%}
        <div class="row">
            <div class="container-fluid">
                <div class="panel panel-default col-md-4 tras-green">
                    <div class="panel-body">
                        <font color="#255625"><b>El usuario se ha agregado correctamente</b></font><br><br>
                        <a href="{{path('listar_usuarios')}}"><button class="btn btn-info tras-green">Lista de usuarios</button></a>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        <button id="btnvalida" class="btn btn-success">Verificar RUT</button>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="fuente1" style="color: white">*RUT:</label>
                    <label class="text-info pull-right" style="color: tomato" id="msgerror"></label>
                    {{ form_widget(form.rut , {'attr' : { 'placeholder' : 'ejemplo: 11111111-1', 'onKeyPress' : 'return soloNumerosRut(event)'} }) }}
                </div>
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Nombres: </label>
                    {{form_widget(form.nombres)}}
                </div>
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Apellido Paterno: </label>
                    {{form_widget(form.apellidoPaterno)}}
                </div> 
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Apellido Materno: </label>
                    {{form_widget(form.apellidoMaterno)}}
                </div>
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Dirección: </label>
                    {{form_widget(form.direccion)}}
                </div>
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Número de contacto: </label>
                    {{form_widget(form.numeroDeContacto, {'attr' : {'placeholder' : 'ejemplo: 227370000', 'onKeyPress' : 'return soloNumeros(event)'} })}}
                </div>          
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Área de Trabajo (departamento): </label>
                    {{form_widget(form.area)}}
                </div>   
                <div class="form-group">
                    <label class="fuente1" style="color: white">*Estado del empleado: </label>
                    {{form_widget(form.habil)}}
                </div>  
                <div class="form-group">
                    <label class="fuente1" style="color: white">Correo Electrónico (opcional): </label>
                    {{form_widget(form.correoElectronico)}}
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary animar">Agregar usuario</button>
        <button type="reset" class="btn btn-success animar">Limpiar formulario</button>
        <button type="button" class="btn btn-danger animar pull-right" onclick="history.back()">Cancelar</button>
    {{ form_end(form) }}
    <br>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{asset('js/validar-rut.js')}}"></script>
    <script src="{{asset('js/solo-numeros.js')}}"></script>
    <script src="{{asset('js/solo-numeros-rut.js')}}"></script>
{% endblock %}
