/* 
    Created on : 28-04-2016, 17:27:17
    Author     : Mauricio Meza
*/

body{
    background-image: url(../img/diseño/fondo5.jpg);
    background-size: cover;
    background-attachment: fixed;
    transition: all 5s ease;
}

.invisible{
    background: transparent;
}

.color1{
    background-color: rgba(200,200,200,0.5);
}

.color2{
    background-color: rgba(255,255,255,0.5);
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.bajar{
    padding-top: 200px;
}

.animacion-rapida{
    transition: all 0.2s ease
}

.animacion-rapida:hover{
    transform: scale(2.2)
}

.animlenta{
    transition: all 1s ease;
}
.animlenta:hover{
    transform: scale(1.3);
}

.animar{
        transition: all 0.2s ease;
}

.tras{
    background-color: rgba(0,0,30,0.5);
}

.tras-green{
    background-color: rgba(200,250,200,0.5);
}

.tras-modal{
    background-color: rgba(255,255,255,0.8);
}

.tras-fondo-modal{
    background-color: rgba(0,0,0,0.6);
}

.animar:hover{
    transform: scale(1.1);
}

.fuente1{
    font-family: 'Handlee', cursive;
}

.moving{
    transition: all 0.2s ease;
}

input[type=email], input[type=text], input[type=password], input[type=number]{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
/*    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    
/*    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;*/
}

textarea,select{
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:
        border-color ease-in-out .15s,
        -webkit-box-shadow ease-in-out .15s;
    -o-transition:
        border-color ease-in-out .15s,
        box-shadow ease-in-out .15s;
    transition:
        border-color ease-in-out .15s,
        box-shadow ease-in-out .15s;
}



