{% extends "base.html.twig" %}

{% block meta %}
    {% if is_granted('ROLE_ADMIN') %}
        <META HTTP-EQUIV="Refresh" CONTENT="0;URL={{path('homepage')}}">
    {% endif %}
{% endblock %}

{% block navbar %}{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div style="margin-top: 40px; padding-top: 15px; padding-bottom: 15px" class="row tras">

        <img src="{{ asset('img/diseño/logo-gray.png') }}" class="col-md-offset-5 col-md-2 animlenta img-responsive" />
        </div>


        <div style="margin-top: 40px" class="col-md-offset-5 col-md-2 tras"><br>
            {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
            <form action="{{ path('login') }}" method="post">
                   
                    {% if error %}
                        <div style="background-color: rgba(200,0,0,0.5)" align="center">
                            <font color="white">{{ error.messageKey|trans(error.messageData, 'security') }}</font>
                        </div>
                        <br>
                    {% endif %}
                
                <div class="form-group">
                    <label class="fuente1" style="color:#FFF" for="username">Nombre de Usuario:</label>
                    <input class="form-control" type="text" id="username" name="_username" value="" />
                </div>

                <div class="form-group">
                    <label class="fuente1" style="color:#FFF" for="password">Contraseña:</label>
                    <input class="form-control" type="password" id="password" name="_password"  />
                </div>
                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}

                <button class="btn btn-primary animar" type="submit">login</button>
            </form>
            {% endif %}
            <br>
        </div>
    </div>
{% endblock %}
